
html {
  font-family: 'Montserrat Subrayada', sans-serif;
}

body {
  margin: 0px;
}

#banner {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 30%;
  background-image: url('background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

#header {
  opacity: 0;
  z-index: 9;
  width: 100%;
  height: 110px;
  position: fixed;
  background-color: white;
  box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.25);
  transition: all 300ms ease;
}

#header.opaque {
  opacity: 1;
}

h1 {
  margin: 0%;
  padding: 5% 0px;
  width: 100%;
  position: fixed;
  font-weight: bold;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  transition: all 600ms ease;
}

h1.opaque {
  z-index: 10;
  padding: 0px;
  color: black;
}

h1 .brand {
  font-size: 2em;
  margin: 0;
}

h1 .subbrand {
  font-size: 0.45em;
  font-weight: lighter;
  margin: 0;
}

#content {
  top: 30%;
  padding: 5px;
  position: relative;
  overflow-y: auto;
}

#menu {
  width: 100%;
  height: 30px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#menu a {
  color: #338459;
  margin: 10px 20px;
  text-decoration: none;
  font-family: 'Roboto';
}

#menu a:hover {
  color: #44b077;
}

#badges {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.badge-item {
  float: left;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  height: 310px;
  width: 180px;
  margin: 20px;
  border: 0.75px #338459 solid;
}

.badge-item p {
  font-size: 0.8em;
  margin: 11px;
}

.badge-item a {
  color: black;
  text-decoration: none;
}

.badge-title {
  font-weight: bold;
  font-size: 1.2em !important;
  margin: 10px !important;
}

.badge-pic {
  width: 176px;
  margin: 2px;
}

.badge-freelancer {
  width: 170px;
  position: relative;
  top: -50px;
  margin-bottom: -50px;
}

.bbworld-button, .freelancer-button {
    -webkit-font-smoothing: antialiased;
    -webkit-writing-mode: horizontal-tb;
    background-image: linear-gradient(rgb(0, 168, 223), rgb(0, 144, 191));
    border-bottom-color: rgb(0, 144, 191);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(0, 144, 191);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(0, 144, 191);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(0, 144, 191);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    height: 30px;
    line-height: 29px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.2) 0px -1px 1px;
    width: 150px;
    margin-top: 2px;
}

.freelancer-button {
    background-image: linear-gradient(rgb(90, 192, 250), rgb(52,179,251));  
}

.policy {
  padding: 5vh 20vw;
  font-family: 'Roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}