

body {
  font-family: 'Tajawal', sans-serif;
  background: linear-gradient(150deg, #0e141b, #203347);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-animation: backgroundGrandient 46s ease infinite;
  -moz-animation: backgroundGrandient 46s ease infinite;
  animation: backgroundGrandient 46s ease infinite;
  background: linear-gradient(245deg, #0e141b, #203347, #203650);
  background-size: 600% 600%;
}

@-webkit-keyframes backgroundGrandient {
  0%{background-position:0% 25%}
  50%{background-position:100% 25%}
  100%{background-position:0% 75%}
}

@-moz-keyframes backgroundGrandient {
  0%{background-position:0% 75%}
  50%{background-position:100% 25%}
  100%{background-position:0% 75%}
}

@keyframes backgroundGrandient {
  0%{background-position:0% 75%}
  50%{background-position:100% 25%}
  100%{background-position:0% 75%}
}

h1 {
  font-family: 'Rajdhani', sans-serif;
  color: #ccc;
  font-size: 3em;
  font-weight: 300;
  text-transform: uppercase;
  position: fixed;
  top: 3vh;
}

h1 span {
  color: #999;
  font-size: 5vh;
  font-weight: 300;
}

#about {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

@media screen and (max-width: 715px) {
  #about {
    padding-top: 100px;
  }
}

#about p {
  color: white;
  font-size: 1.2em;
  font-weight: 300;
  width: 230px;
  margin: 15px auto 20px auto;
}

#about div {
  display: block;
}

#about div.off {
  display: none;
}

#about ul {
  padding-left: 0;
  width: fit-content;
  list-style-type: none;
}

#about li {
  display: inline-table;
  align-self: top;
}

#about > ul > li {
  padding: 5vw;
}

#about > ul > li > img {
  width: 30vw;
  max-width: 230px;
  border-radius: 5%;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 10px 21px -6px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 10px 21px -6px rgba(0,0,0,0.5);
  box-shadow: 0px 10px 21px -6px rgba(0,0,0,0.5);
  filter: saturate(50%);
}

#about ul.second {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#about ul.second li {
  padding: 10px;
}

#about ul.second li img {
  width: 40px;
  border-radius: 50%;
}

#about form {
  margin-top: 30px;
}

#about button {
  cursor: pointer;
  background: none;
  border: 1px solid white;
  outline: none;
  border-radius: 5px;
  color: white;
  padding: 8px;
  font-size: 1em;
}

img.bnw {
  opacity: 0.4;
  filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}

img.off {
  opacity: 0.35 !important;
}

@media only screen and (max-height: 549px) {
  #about p {
    font-size: 1em;
  }
}

@media only screen and (max-height: 479px) {
  #about p {
    display: none;
  }
  #about ul {
  	margin-bottom: 10px;
  }
}

@media only screen and (max-width: 715px) {
  h1 {
    font-size: 1.9em;
  }
  #about {
    width: 70%;
  }
  #about li {
    padding: 5px;
  }
  #about ul.second li img {
    width: 33px;
  }
}
