
body {
  font-family: 'Roboto', Arial;
  background: linear-gradient(245deg, #a24bcf, #4a78cf, #4bc5cf);
  background-size: 600% 600%;
  -webkit-animation: backgroundGrandient 46s ease infinite;
  -moz-animation: backgroundGrandient 46s ease infinite;
  animation: backgroundGrandient 46s ease infinite;
}

@-webkit-keyframes backgroundGrandient {
    0%{background-position:0% 25%}
    50%{background-position:100% 25%}
    100%{background-position:0% 75%}
}
@-moz-keyframes backgroundGrandient {
    0%{background-position:0% 75%}
    50%{background-position:100% 25%}
    100%{background-position:0% 75%}
}
@keyframes backgroundGrandient {
    0%{background-position:0% 75%}
    50%{background-position:100% 25%}
    100%{background-position:0% 75%}
}

h1 {
  color: rgba(255, 255, 255, 0.4);
  font-weight: bold;
  margin: 10px 0px;
}

#about {
  width: 500px;
  height: 50%;
  padding: 30px 20px;
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  position: absolute;
  margin: auto;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  border-radius: 15px;
}

#about p {
  color: white;
  font-size: 1.2em;
  font-weight: lighter;
  width: 230px;
  margin: 15px auto 20px auto;
}

#about div {
  display: block;
}

#about div.off {
  display: none;
}

#about ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

#about li {
  display: inline-block;
  padding: 8px;
}

#about li img {
  width: 60px;
  border-radius: 50%;
}

#about ul.second {
  max-width: 240px;
  margin: 5px auto;
}

#about ul.second li {
  padding: 3px;
}

#about ul.second li img {
  width: 35px;
}

#about button {
  background: none;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  padding: 8px;
  font-size: 1em;
}

img.bnw {
  opacity: 0.4;
  filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}

img.off {
  opacity: 0.35 !important;
}

@media only screen and (max-height: 559px) {
  h1 {
    margin: 0 0 5px 0;
    font-size: 1.8em !important;
  }
}

@media only screen and (max-height: 549px) {
  #about p {
    font-size: 1em;
  }
}

@media only screen and (max-height: 479px) {
  #about p {
    display: none;
  }
  #about ul {
  	margin-bottom: 10px;
  }
}

@media only screen and (max-width: 715px) {
  h1 {
    font-size: 1.9em;
  }
  #about {
    width: 70%;
  }
  #about li {
    padding: 5px;
  }
  #about ul.second li img {
    width: 33px;
  }
}
